{% extends "base.twig" %}

{% block content %}
<p>home page</p>
{% endblock %}

{% block js %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ site.theme.link }}/dist/css/home.css"/>
{% endblock %}
